{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    <title>Education | Skills</title>
{% endblock title %}

{% block mainContent %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="">HTML / CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-danger text-dark" role="progressbar" 
                style="width: 75%;" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-warning text-dark" role="progressbar" 
                style="width: 75%;" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h3 class="">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-success" role="progressbar" 
                style="width: 100%;" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 mt-5 offset-sm-2">
            <h3 class="">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-secondary" role="progressbar" 
                style="width: 60%;" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h3 class="">Rest APIs</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-warning text-dark" role="progressbar" 
                style="width: 65%;" aria-valuenow="65"
                aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
        </div>
        <div class="col-sm-5 mt-5 offset-sm-2">
            <h3 class="">GitHub</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-silver" role="progressbar" 
                style="width: 60%;" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h3 class="">MySQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-primary" role="progressbar" 
                style="width: 70%;" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col-sm-5 mt-5 offset-sm-2">
            <h3 class="">MongoDB</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progressbar-bar-animated bg-info text-warning" role="progressbar" 
                style="width: 75%;" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>
    </div>
    
</div>

{% endblock mainContent %}