{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    <title>Services</title>
{% endblock title %}

{% block mainContent %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4"><i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-colo"></i>
            <h3>SEO</h3>
            <p class="ss-colo">The aim is typically to rank on the first page of Google results for search terms that 
                mean the most to your target audience.
            </p>
        </div>
        <div class="col-sm-4"><i class="fa-solid fa-palette fa-2x mb-3 i-colo"></i>
            <h3>Web Design</h3>
            <p class="ss-colo">The process of planning and creating the look and feel of a website or web application, 
                including its user experience.
            </p>
        </div>
        <div class="col-sm-4"><i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
            <h3>Web Development</h3>
            <p class="ss-colo">The building and maintenance of websites; it's the work that happens behind the scenes 
                to make a website look great.
            </p>
        </div>
        <div class="col-sm-4"><i class="fa-solid fa-laptop-code fa-2x mb-3 i-colo"></i>
            <h3>JavaScript</h3>
            <p class="ss-colo">Displaying timely content updates, interactive maps, animated 2D/3D graphics, scrolling 
                video jukeboxes.
            </p>
        </div>
        <div class="col-sm-4"><i class="fa-solid fa-file-code fa-2x mb-3 i-colo"></i>
            <h3>HTML</h3>
            <p class="ss-colo">The structure and content of web pages. It's a set of codes and symbols that tell web browsers 
                how to display text, images, and other media on a page.
            </p>
        </div>
        <div class="col-sm-4"><i class="fa-solid fa-microchip fa-2x mb-3 i-colo"></i>
            <h3>Django</h3>
            <p class="ss-colo">Django takes care of much of the hassle of web development, so you can focus on writing your app 
                without needing to reinvent the wheel.
            </p>
        </div>
        <div class="col-sm-4"><i class="fa-solid fa-hashtag fa-2x mb-3 i-colo"></i>
            <h3>CSS</h3>
            <p class="ss-colo"> Styling HTML or XML documents, controlling layout, colors, fonts, and overall 
                appearance to enhance user's.
            </p>
        </div>
        <div class="col-sm-4"><i class="fas fa-database fa-2x mb-3 i-colo"></i>
            <h3>MySQL</h3>
            <p class="ss-colo">Database is a structured collection of data. It may be anything from a simple shopping list to 
                a picture gallery or a place to hold the vast amounts of information in a corporate network.
            </p>
        </div>
        <div class="col-sm-4"><i class="fas fa-database fa-2x mb-3 i-colo"></i>
            <h3>MongoDB</h3>
            <p>Has a flexible data model that enables you to store unstructured data, and it provides full indexing support, 
                and replication with rich and intuitive APIs.
            </p>
        </div>
    </div>
</div>

{% endblock mainContent %}

